﻿@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

bodyLogin1{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.bodyLogin1{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image:url(/Imagen/FondoLogin.png);
	background-size: cover;

}

.gradLogin{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 1;
}

.header{
	position:absolute;
	top: calc(46% );
	left: calc(52% - 255px);
	z-index: 1;
}

.FooterContacto{
	position:absolute;
	top: calc(85% - 80px);
	left: calc(33.5% );
	z-index: 1;
    width: 45%;
}


.header div{
	float: left;
	color: #ffffff;
	font-family: 'Exo', sans-serif;
	font-size: 45px;
	font-weight: 200;
}

.header div span{
	color: #79afff;
    font-size:27px;
    font-weight:600;
}


.login{
	position:absolute;
	top: calc(50% - 75px);
	left: calc(52%);
	height: 150px;
	width: 300px;
	padding: 10px;
	z-index: 10;
}


.logoJ{
	position:absolute;
	top: calc(50% - 50px);
	left: calc(4% - 20px);
	height: 150px;
	width: 300px;
	padding: 10px;
	z-index: 2;
}


.login input[type=text]{
	width: 160px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
    
}


.login input[type=password]{
	width: 160px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #f4f4f4;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}




.login input[type=button]{
	width: 88%;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.btnLogin{
	width: 63%;
	height: 25px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #00439d;
	font-family: 'Exo', sans-serif;
	font-size: 13px;	
}


.btnLogin:hover{
	opacity: 0.8;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.8;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

